---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				<p>I'm Shaun Lawrie from Wellington, New Zealand. I work in IT as an all-around problem solver.</p>
				<p>You can find me on Twitter, GitHub and LinkedIn. I'm more of a lurker than a contributor to online discussion but sometimes I might post about some of the things I enjoy when I have time to explore i.e.</p>
				<p>Check out the stuff I've managed to find the time to publish here 👇</p>
			</p>
			<section class="mx-auto">
				<h2>Articles</h2>
				<ul class="content-center grid">
					{
						posts.map((post) => (
							<li class="mx-6 my-4">
								<a href={`/blog/${post.slug}/`}>
									<div class="panel max-h-72 overflow-hidden rounded-lg mb-2">
										<img width="100%" src={post.data.heroImage} alt="" />
									</div>
									<div class="flex justify-between pr-1">
										<h4 class="text-lg">{post.data.title}</h4>
										<p>
											<FormattedDate date={post.data.pubDate} />
										</p>
									</div>
									<p>
										{post.data.description}
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
.content-center {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
@media (max-width: 720px) {
	.content-center {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}
}
</style>